@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
  font-family: "Rubik";
  background-color: #FFF5F5;
}

h1 {
  background-image: url("images/appletree.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 2em;
  font-family: "Baloo Bhaijaan";
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  padding: .1em .1em 0 .1em;
  margin: .5em;
  font-family: "Baloo Bhaijaan";
}

.container {
  display: flex;
  justify-content: center;
}

.paraInstruc {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.instruct {
  padding: .35em;
  margin: 0;
  width: 150%;
}

.difficultButtons > button, .rowOne > button, .rowTwo > button, .rowThree > button {
  background-color: #9acd32;
  padding: .3em;
  text-align: center;
  font-size: 1em;
  width: 8em;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.difficultButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer > button, #playAgain {
  background-color: #9acd32;
  padding: .3em;
  text-align: center;
  font-size: 1em;
  width: 8em;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.buttonContainer {
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#horse {
  width: 22%;
  height: auto;
}

#cat {
  transform: scaleX(-1);
  width: 20%;
  height: auto;
}

#ostrich{
  width: 12%;
  height: auto;
}

#pikachu {
  width: 18%;
  height: auto;
  background-color: white;
}

#homer {
  width: 12%;
  height: auto;
}

#bears {
  width: 14%;
  height: auto;
}

#yoshi {
  width: 15%;
  height: auto;
  background-color: white;
}

.track {
  position: relative;
  background-color: white;
}

#apple1, #apple2 {
  width: 7%;
  height: auto;
  position: absolute;
  right: 0;
  margin: 2em 1em 0 0;
  background-color: white;
}


.racetrack {
  border: black solid 2px;
  margin: 0 auto;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  display: block;
}

.bestTime {
  border: black solid 1px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

#count_num {
  position: absolute;
  font-size: 4em;
  background-color: white;
  display: none;
  margin:0 auto;
  left: 48%;
  top: 62%;
}


#run, #start, #pause {
  margin: 1em 2em
}

#playAgain, #nextLevel {
  display: none;
  margin: 0 auto;
}

.winner{
  width: 30%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.winText, h3 {
  text-align: center;
}

h3  {
  border: 0;
  padding: 0;
}

.winText {
  font-size: 2em;
}

.easyBestTime, .medBestTime, .hardBestTime {
  text-align: center;
  font-size: 1.5em;
  width: 40%;
  border: black solid 1px;
  margin: 0 auto;
  background-color: white;
}

#seconds, #tens, #colon {
  font-size: 2em;
}
