h1 {
  text-align: center;
}

.paraInstruc {
  text-align: left;
  width: 40%;
  margin: 0 auto;
  display: block;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.playerButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.headerInstruc {
  font-size: 2em;
  text-align: center;
  width: 40%;
  display: block;
  margin: 0 auto;
}

#horse, #cat {
  width: 25%;
  height: auto;
}

#cat {
  transform: scaleX(-1);
}

#ostrich{
  width: 18%;
  height: auto;
}

#pikachu {
  width: 22%;
  height: auto;
}

#homer {
  width: 18%;
  height: auto;
}

.track {
  position: relative;
}

#apple1, #apple2 {
  width: 7%;
  height: auto;
  position: absolute;
  right: 0;
  margin: 2em 1em 0 0;
}


.racetrack {
  border: black solid 1px;
  margin: 2em 2em;
  width: 90%;
  height: auto;
  box-sizing: border-box;
}

#run, #start, #pause {
  margin: 1em 2em
}

#playAgain, #nextLevel {
  display: none;
  margin: 0 auto;
}

.winner{
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.winText, h3 {
  text-align: center;
}

.winText {
  padding: .5em;
  font-size: 3em;
}

#seconds, #tens, #colon {
  font-size: 2em;
}
